@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #464159;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: white;
  font-family: 'Roboto', sans-serif;
}


.App {
  text-align: center;
}
form > input {
  background-color : #464159;
  border: 0;
  padding: 6px 0;
  font-size: 2rem;
  width: 240px;
  outline: 0;
  color: white;
  border-bottom: 1px solid white;
  margin-right: 8px;
}

button {
  background-color: #6c7b95;
  border: 2px solid #C7F0DB;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 6px 14px;
}

 .done{
  color:white;
  text-decoration: line-through;
  font-weight: bolder;
}


